@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
    @apply bg-slate-200 dark:bg-slate-800;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
}

body {
    height: max-content;
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

#__plasmo {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('data-base64:~assets/fonts/Ubuntu-Regular.ttf');
}

.navbar {
    padding: var(--navbar-padding,.5rem);
    min-height: max-content;
    width: 100%;
    /* align-items: center; */
    display: flex;
    @apply bg-blue-500 dark:bg-transparent text-white dark:text-slate-400;
    
}

.dynamic-bg-button{
    @apply bg-transparent hover:bg-blue-300 transition-colors duration-500 ease-in-out
}

.dynamic-fill-color{
    @apply text-white dark:text-slate-400 hover:text-blue-300 dark:hover:text-white transition-colors duration-500 ease-in-out
}

.dynamic-fill-color-2{
    @apply text-slate-600 dark:text-slate-400 hover:text-blue-500 dark:hover:text-white transition-colors duration-500 ease-in-out
}

hr {
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #dddddd, rgba(255, 255, 255, 0));
    border: none;
  }

.base-color {
    @apply bg-blue-500;
}